.slideshow {
  list-style-type: none;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  margin-top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  font-size: 48pt;
}


.div2 {
  width: 500px;
  height: 150px;
  padding: 50px;
  border: 5px solid black;
  opacity: 2;
  background-color: #ffffed;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
    top: -16px; /*Not sure why I needed this fix*/
		position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0;
}

.slideshow li span {
		position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s forwards;
}



.slideshow li:nth-child(1) span {
    background-image: url("burger.jpg");
}
.slideshow li:nth-child(2) span {
    background-image: url("people.jpg");
    animation-delay: 5s;
}
.slideshow li:nth-child(3) span {
    background-image: url("packet.jpg");
    animation-delay: 10s;
}
.slideshow li:nth-child(4) span {
    background-image: url("platter.jpg");
    animation-delay: 15s;
}




@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 1 }
    100% { opacity: 1 }
}


@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 1 }
}


.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  opacity: 2;
  position: relative;
    text-align: right;
    
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    text-align: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
